.navbar
  width: 90%
  margin: 0 auto

  &__title
    color: white
    display: flex
    justify-content: space-between
    background: #06224c
    margin-bottom: 10px

    &__text
      width: 50%
      margin-left: 10px
      cursor: pointer

@media screen and ( max-width: 768px  )
  .navbar
    width: 100%
  
@media screen and ( max-width: 425px  )
  .navbar__title
    color: white
    display: flex

    &__text
      display: none